.reverse__btn{
    position: sticky;
    left: 90%;
    z-index: 99;
    cursor: pointer;
    font-size: 1.5rem;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.503);
    padding: 2rem;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    width: 100px;
    margin-top: -50px;


}