
.advantages .section__title {
    color: $deep-black;
}

.advantage {

    &__wrapper {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        font-size: 5rem;
        color: $deep-black;
    }

    &__text {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        color: $deep-black;
        text-transform: uppercase;
        text-align: center;
    }
}
