.container{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;

    &--flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--flex-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}
