.contact {
    background-image: url('/dist/img/contactSmall.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    color: white;

    & a {
        color: white;
    }

    &__container {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        background-color: red;
        width: 100%;
        padding: 10rem;
    }

    &__wrapper {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.6);

        box-shadow: 2px 2px 6px black;
    }

    &__box {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        margin: 2rem 0;
    }

    &__name {
        text-align: center;
        font-family: 'Yellowtail', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        font-size: 1.6rem;
        letter-spacing: 4px;
        margin-bottom: 2rem;
    }

    &__phone {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 55%;
        padding: 1rem;
        font-size: 1.6rem;
    }

    &__mail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
        padding: 1rem;
    }
}

.fa-phone {
    font-size: 2rem;
}

.fa-envelope {
    font-size: 3rem;
    margin-bottom: 1rem;
}

// .form {
//     &__container {
//         display: flex;
//         justify-content: center;
//     }

//     &__box {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         max-width: 350px;
//         padding: .5rem;
//     }

//     &__input {
//         padding: 1rem;
//         background-color: rgba(119, 119, 119, 0.507);
//         color: white;
//         margin-bottom: 1rem;
//         border: none;
//         border-radius: 8px;

//         &:focus
//         {
//             background-color: rgba(255, 255, 255, 0.35);
//         }

//         &::placeholder {
//             color: rgba(255, 255, 255, 0.400);
//         }
//     }

//     &__textarea {
//         background-color: rgba(119, 119, 119, 0.507);
//         max-width: 100%;
//         min-width: 100%;
//         min-height: 20%;
//         max-height: 500px;
//         color: white;
//         border-radius: 8px;
//         border: none;
//         margin-bottom: 1rem;
//         padding: 0.5rem;
  
//         &::placeholder {
//             color: rgba(255, 255, 255, 0.400);
//         }

//         &:focus {
//             background-color: rgba(255, 255, 255, 0.35);
//         }
//     }

//     &__btn {
//         color: white;
//         text-transform: uppercase;
//         font-weight: bold;
//         letter-spacing: 2px;
//         background-color: rgba(119, 119, 119, 0.507);
//         border: none;
//         border-radius: 8px;
//         padding: 1rem;
//     }
// }