@media (min-width: 992px) {
    .nav {

        transition: transform .3s ease-in-out;

        &--hidden {
            transform: translateY(-7rem);
        }

        &__logo {
            justify-content: center;
            width: auto;


            & a {
                transition: transform .3s ease-in-out;

                &:hover {
                    transform: scale(1.07);
                }
            }
        }

        &__links {

            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            text-transform: uppercase;

        }

        &__link {
            color: $deep-black;
            font-size: 1.2rem;
            font-weight: 500;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.07);
            }
        }

        &__social-media {
            justify-content: center;
            width: auto;

            & a {
                transition: transform .3s ease-in-out;

                &:hover {
                    transform: scale(1.07);
                }
            }
        }
    }

    .burger-btn {
        display: none;
    }

    .header {
        &__title {

            &h1 {
                font-size: 2.25rem;
                text-transform: uppercase;
                margin: 0 10px;
                letter-spacing: 3px;
            }
        }
    }

    .section {
        &__title {
            padding: 2rem 1rem;
            font-size: 2rem;
            font-weight: 400;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }

    .heading__wing {
        width: 50px;
    }

    .about-us {

        &__box {
            padding: 4rem 2rem;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            background-image: none;
        }

        &__details {
            padding: 2rem;
            width: 50%;
            background-image: none;
        }

        &__paragraph {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2.5rem;
        }

        &__images {
            position: relative;
            width: 25%;

            &--desktop {

                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;

            }
        }

        &__architects {
            display: none;
        }
    }


    .figure {
        position: relative;
        top: 0;
        left: -20px;
        width: 100%;
    }

    .people {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .zone {
        height: calc(100vh - 50px);
        max-height: 1080px;

        
        &__heading {
            top: 15px;
            font-size: 2rem;
        }
        
        &__individual,
        &__commercial {
            background-attachment: fixed;
        }

        &__box {
            padding: 1rem;
            margin: 4rem 0;
            min-height: 250px;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            max-width: 300px;
            transition: .3s transform ease-in-out;

            &:hover{
                transform: scale(1.02);
            }
        }

        &__title {
            font-size: 1.4rem;
        }

        &__list {
            height: 50%;
            text-transform: uppercase;
        }

        &__item {
            padding: .5rem;
            line-height: 20px;
            font-size: 1.2rem;
            color: $deep-black;
        }

        &__dots {
            font-size: 1.5rem;
            color: $deep-black;
        }
    }

    .advantage {
        &__wrapper {
            padding: 6rem 2rem;
            width: 80%;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__box {
            margin-top: 0;
            padding: 0;
            max-width: 250px;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.08);
            }
        }

        &__icon {
            font-size: 4rem;
        }

        &__text {
            font-size: 1.2rem;
        }
    }

    .complex {

        background-image: url('/dist/img/advantagesBig.webp');
        background-attachment: fixed;

        &__box {
            width: 70%;
            max-width: initial;
            justify-content: space-evenly;
            gap: 1rem;
        }

        &__item {
            flex-direction: column;
            justify-content: center;
            width: 25%;
            max-height: 200px;
            min-height: 200px;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale3d(1.1, 1.1, 1);
            }

            &:hover .complex__icon {
                transform: rotate(15deg);
            }


            &--reverse {
                flex-direction: column;
            }

            &:last-child {
                margin-bottom: 1rem;
            }
        }

        &__icon {
            width: 100%;
            transition: transform .3s;
        }

        &__text {
            margin: 0;
            padding: 0;
        }


        .complex-text-wrapper {
            align-items: center;
            max-height: 105px;
            min-height: 105px;
            margin: 0;
            padding: 0;

        }
    }


    .bgc-hero {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.500);
        transition: .3s background-color ease-in-out;

    }


    .gallery{

        &__box{
            width: 80%;
        }
    }

    .portfolio {

        &__gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            padding: 2rem;
        }

        &__image {
            margin: 2rem;
            width: 40%;
        }
    }

    .offer {
        &__paragraph {
            font-size: 1.4rem;
            line-height: 25px;
        }
    }

    .steps {

        &__wrapper{
            width: 90%;
        }

        &__card {
            width: 25%;
            min-width: 250px;

            &--invent {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                gap: 0;
            }

        }

        &__title {
            font-size: 1.4rem;
            line-height: 15px;

            &--invent {
                align-self: flex-start;
            }
        }

        &__details {
            font-size: 1.2rem;

            &--invent {
                align-self: start;
            }
        }

        &__image {

            &--invent {
                position: relative;
                bottom: 50px;
            }
        }

        &__img {
            border-radius: 15%;

        }
    }

    .addon {
    
        &__card {
            justify-content: space-evenly;
            max-width: 250px;
        }
    
        &__title {
            font-size: 1.4rem;
            font-weight: 700;
        }
    
        &__details {
            display: flex;
            align-self: center;
            justify-content: center;

        }
    
        &__image {
            width: 100%; 
            object-fit: cover;

        }
    
        &__img{
            width: 100%;
            object-fit: cover;

        }
    }

    .heading__paragraph {
        margin: 0 auto;
        text-align: center;
        text-transform: initial;
        line-height: 30px;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 2rem 1rem;
        width: 70%;
        text-transform: uppercase;
    }

    .individual {
        
        &__pros {
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 4rem;
            max-width: 1200px;
        }

        &__card {
            position: relative;
            width: 31%;
            margin: 1rem;
            padding: 2rem;
            min-height: 246px;
            max-height: 350px;
            overflow: hidden;
        }

        &__bullet {
            width: 27px;
            height: 27px;
            border-radius: 50%;

            &--big {
                width: 116px;
                height: 116px;
                position: absolute;
                top: 25%;
                transition: transform .3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    .contact {

        padding-top: 5rem;
        background-image: url(/dist/img/contactBig.webp);
        background-position: center 0px;

        &__wrapper {
            margin: 6rem 0;
            width: 50%;
        }
    }

    .form {
        &__container {
            width: 50%;
        }

        &__input {
            cursor: pointer;
            transition: .3s background-color;

            &:hover {
                background-color: rgba(255, 255, 255, 0.35);
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.400);
            }
        }

        &__textarea {
            transition: .3s background-color;
            cursor: pointer;


            &::placeholder {
                color: rgba(255, 255, 255, 0.400);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.35);
            }
        }

        &__btn {
            cursor: pointer;
            transition: .3s background-color;

            &:hover {
                background-color: rgba(255, 255, 255, 0.35);

            }
        }
    }

    .footer {
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        &__box {
            padding: 2rem 0;
            font-size: 1.4rem;
            width: 100%;
        }

        &__title {
            width: 100%;
            font-size: 1.6rem;
            line-height: 25px;
            text-transform: uppercase;
            text-align: center;
        }

        &__social {
            display: flex;
            justify-content: space-evenly;
        }

        &__link {
            padding: .3rem;
            color: white;
            font-size: 3.6rem;
            text-decoration: none;

            & i {
                font-size: 3rem;
            }
        }

        &__bottom-text {
            padding: 1.5em 2em;
            text-align: center;
            font-size: 1.2rem;
        }
    }

    hr {
        width: 100%;
    }
}