@media (min-width: 1400px) {

    .nav {
        &__link {
            color: $deep-black;
            font-size: 1.4rem;

        }
    }
    .about-us {

        &__paragraph {
            font-size: 1.6rem;
            text-align: center;
            line-height: 3.2rem;
            padding: 0.5rem 0;
        }
    }


    .gallery{

        &__box{
            
            width: 60%;
        }
    }
}