.footer {
    color: white;
    background-color: black;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // width: 100%;

    &__box {
        padding: 2rem 0;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 1.2rem;
        line-height: 25px;
        width: 80%;
        text-transform: uppercase;
        text-align: center;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 30%;
        max-width: 100px;
    }

    &__link {
        padding: .3rem;
        color: white;
        font-size: 3.6rem;
        text-decoration: none;

        & i {
            font-size: 2.5rem;
        }
    }

    &__bottom-text {
        padding: 1.5em 2em;
        text-align: center;
        font-size: .8rem;
    }
}