.heading__paragraph {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 4rem 1rem;
}

.individual {

    &__pros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        width: 90%;
        height: 100%;
        max-width: 320px;

    }

    &__bullet {
        width: 27px;
        height: 27px;
        background-color: #999187;
        border-radius: 50%;
        margin-bottom: 2rem;

        &--1 {
            background-color: #DAA1A1;
        }

        &--2 {
            background-color: #EC927F;
        }

        &--3 {
            background-color: #D86F68;
        }

        &--4 {
            background-color: #BA5F5F;
        }

        &--5 {
            border: 1px solid transparent;
            font-size: 2rem;
            text-align: center;
            background-color: #F26565;
            cursor: pointer;
            transition: transform .3s ease-in-out;
        }

        &--6 {
            background-color: #E38787;
        }

        &--7 {
            background-color: #999187;
        }

        &--8 {
            background-color: #BBB1A5;
        }

        &--9 {
            background-color: #D4CABD;
        }

        &--10 {
            background-color: #E4DACD;
        }

        &--11 {
            background-color: $deep-black;
        }

        &--12 {
            background-color: #ebe6e1;
        }

        &--big {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 116px;
            height: 116px;
            // position: absolute;
            // top: 25%;
            color: $pure-white;
            text-align: center;
        }
    }

    &__details {
        font-size: 1.4rem;
        text-align: center;
        line-height: 20px;
    }
}