@media (min-width: 1200px) {

    .nav {

        transition: transform .3s ease-in-out;

        &--hidden {
            transform: translateY(-7rem);
        }

        &__logo {
            justify-content: center;
            width: auto;
        }

        &__links {

            width: 100%;
            display: flex;
            justify-content: center;
            gap: 4rem;
            text-transform: uppercase;

        }

        &__link {
            color: $deep-black;
            font-size: 1.2rem;
            font-weight: 500;

        }

        &__social-media {
            justify-content: center;
            width: auto;
        }
    }

    .burger-btn {
        display: none;
    }

    .header {
        &__title {

            &h1 {
                font-size: 2.25rem;
                text-transform: uppercase;
                margin: 0 10px;
                letter-spacing: 3px;
            }
        }
    }

    .about-us{

        &__paragraph {
            text-align: center;
            padding: 0.5rem 0;
        }


        &__images {

            &--desktop {

                display: flex;
                justify-content: center;
                position: relative;
                width: 90%;

            }
        }
    }

    .section {

        &__title {
            font-size: 2rem;
            font-weight: 400;
        }

        &__subtitle {
            font-size: 1.5rem;
        }
    }

    .heading__wing {
        width: 50px;
    }

    .advantage {

        &__box {
            margin-top: 0;
            padding: 0;
            max-width: 250px;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.08);
            }
        }
    }

    .bgc-hero {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.500);
        transition: .3s background-color ease-in-out;

    }


    .offer {
        &__paragraph {
            font-size: 1.4rem;
            line-height: 25px;
        }
    }

    .steps{

        &__wrapper{
            gap: 10rem;
        }
    }


    .footer {
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        &__box {
            padding: 2rem 0;
            font-size: 1.4rem;
            width: 100%;
        }

        &__title {
            width: 100%;
            font-size: 1.6rem;
            line-height: 25px;
            text-transform: uppercase;
            text-align: center;
        }

        &__social {
            display: flex;
            justify-content: space-evenly;
        }

        &__link {
            padding: .3rem;
            color: white;
            font-size: 3.6rem;
            text-decoration: none;

            & i {
                font-size: 3rem;
            }
        }

        &__bottom-text {
            padding: 1.5em 2em;
            text-align: center;
            font-size: 1.2rem;
        }
    }

    hr {
        width: 100%;
    }

    .filter {
        display: flex;
        justify-content: center;

        &__list {
            align-items: center;
        }

        &__item {
            padding: 0.7rem;
            margin: 0.5rem 0;
            font-size: 1.2rem;
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &--active {
                border-radius: 5px;
                background-color: rgba(153, 205, 50, 0.527);
            }
        }
    }

}