.nav {
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 10px 10px rgba(117, 114, 114, 0.25);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;

    &__logo {
        padding: 0.4rem;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & img {
            width: 40px;
        }
    }

    &__links {
        display: none;
    }


    &__social-media {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        margin-right: 1%;

        & a {
            margin: 0 5px;
        }

        & img {
            width: 40px;
        }
    }
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.burger-btn {
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        // outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;

    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: #5b5b5b;
        border-radius: 7px;
        transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 13px;
            width: 100%;
        }

        &::before {
            top: 27px;
            width: 100%;
            transition-delay: .1;
        }
    }
}

.burger-btn.open .burger-btn__bars {
    background-color: transparent;

}

.burger-btn.open .burger-btn__bars::after {
    transform: rotate(45deg);
    background-color: #5b5b5b;
}

.burger-btn.open .burger-btn__bars::before {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: #5b5b5b;
}

.nav-mobile {
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    transform: translateX(-110%);
    background-color: #1d1d1df5;
    z-index: 100;
    transition: transform .3s;

    &__items {
        position: absolute;
        top: 25%;
    }

    &__item {
        position: relative;
        display: block;
        font-size: 1.6rem;
        line-height: 2rem;
        color: white;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        text-decoration: none;
        z-index: 101;
    }

    &--active {
        transform: translateX(0);
    }
}

@keyframes navItemsAnimation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation .5s both;
}