.offer {

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem 0;
    }

    &__paragraph {
        text-align: center;
        font-size: 1rem;
        line-height: 20px;
        max-width: 80%;
    }

}

.steps {
    padding: 2rem 0;
    background-image: url('/dist/img/Dom_parterowy_120m2_Gdansk/7.png');

    &__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 2rem 0;
        gap: 10rem;
        padding: 2rem;

    }

    &__card {
        width: 70%;
        max-width: 250px;
        background-color: $pure-white;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 1px 9px 9px 1px rgb(197, 197, 197);
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2rem;
        text-align: center;
    }

    &__details {
        font-size: 1rem;
        text-align: center;
        padding: 1rem 2rem;
        line-height: 20px;
        font-weight: 500;
    }

    &__list {
        list-style-type: disc;
        list-style-position: inside;
    }

    &__item {
        text-align: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 1rem 0;

        & i {
            font-size: 6rem;
        }
    }

    &__img {
        width: 70%;
        height: 100%;
        object-fit: contain;
        border-radius: 25px;
        padding: 0 1rem;

        &--moodboard {
            object-fit: cover;
            height: 150%;
            width: 200px;
        }
    }
}

.addon {

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 2rem 0;
    }

    &__card {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        background-color: whitesmoke;
        width: 80%;
        max-width: 250px;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 1px 9px 9px 1px rgb(197, 197, 197);
    }

    &__title {
        width: 100%;
        align-self: flex-start;
        text-align: center;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__details {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        padding: 1rem 2rem;
    }

    &__image {
        align-self: flex-end;
        width: 100%; 
    }

    &__img{
        border-radius: 25px;
        width: 100%;
    }
}