.phone-btn {

    padding: 2rem;
    position: sticky;
    left: 97%;
    z-index: 99;
    cursor: pointer;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid rgb(81, 81, 81);
    background-color: transparent;
    padding: 2rem;
    display: flex;
    align-items: center;
    color: rgb(81, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -50px;
}