.gallery {

    &-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 107%;
        height: 100%;
        background-color: none;
        z-index: 99;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        gap: 4rem;
        padding: 2rem 0;
    }

    &__thumbnail {
        position: relative;
        width: 230px;
        height: 350px;
        border: 1px solid black;
        cursor: pointer;
    }

    &__details {
        padding: 15px 0;
        position: relative;
        width: 100%;
        height: 100%;

    }

    &__image {
        position: relative;
        left: 15px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        z-index: 4;
    }

    &__description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15%;
        background-color: rgba(255, 255, 255, 0.504);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.2rem;
        box-shadow: 1px 9px 9px 1px rgb(197, 197, 197);
    }

    &__icon {
        width: 20px;
    }
}

.portfolio {

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // gap: 2rem;
        width: 100%;
        padding: 2rem;
    }

    &__image {
        object-fit: cover;
        margin: 2rem;
        width: 100%;
    }
}


#barberShop {
    background-image: url('/dist/img/Barber_Shop_80m2_Gdansk/OKLADKA.webp');
}

#biuro {
    background-image: url('/dist/img/Biuro_300m2_Radom/OKLADKA.webp');
}
#biuro2 {
    background-image: url('/dist/img/Biuro_300m2_Radom/OKLADKA.webp');
}

#home1 {
    background-image: url('/dist/img/Dom_parterowy_120m2_Gdansk/OKLADKA.webp');
}

#home2 {
    background-image: url('/dist/img/Stodola_70m2_Osowa/OKLADKA.webp');
}

#home3 {
    background-image: url('/dist/img/Mieszkanie_55m2_Krakow/OKLADKA.webp');
}

#studio1 {
    background-image: url('/dist/img/Kawalerka_30m2_Gdansk/OKLADKA.webp');
}
#studio2 {
    background-image: url('/dist/img/Kawalerka_32m2/OKLADKA.webp');
}

#studio3 {
    background-image: url('/dist/img/Kawalerka2_32m2_/OKLADKA.webp');
}

#room1 {
    background-image: url('/dist/img/Pokoj_dzeciecy_Torun_14m2/OKLADKA.webp');
}
