.slider {
    width: 100%;
}

.swiper {
    width: 100%;
    height: calc(100vh - 135px);
    max-height: 1080px;

    &-slide {

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}