.zone {
    position: relative;
    height: 100vh;

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__heading {
        color: $deep-black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 15px;
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        background-color: $transparent-white;
    }

    &__individual,
    &__commercial {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__individual {
        background-image: url('/dist/img/Kawalerka_32m2/OKLADKA.webp');
        border-right: 1px solid black;
    }

    &__commercial {
        background-image: url('/dist/img/zoneCommercial.webp');
        border-right: 1px solid black;
    }

    &__box {
        min-height: 250px;
        position: relative;
        padding: 0rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $pure-white;
        width: 90%;
        max-width: 230px;
        border-radius: 4px;
        background-color: $transparent-white;
        box-shadow: 0 0 40px lighten(#000, 60%);
    }

    &__title {
        margin-top: 1rem;
        align-self: flex-start;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;
        line-height: 2rem;
        color: $deep-black;
    }

    &__list {
        padding: 0.5;
        text-align: center;
        font-weight: 500;
        font-size: 1.1rem;
        display: block;
        line-height: 25px;
        color: $deep-black;
    }
    
    &__link{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}